<div>
  <h3>SPA using the angular-auth-oidc-client package</h3>
  <br/>
  <h4 [hidden] = "authenticationSucceeded" style="color: brown;">Authenticate with Identity Server to get access to the Data API</h4>
  <button (click)="login()" [disabled] = "authenticationSucceeded">Login with Identity Server</button>
  <br/>
  <br/>

  <hr/>

  <h4 [hidden] = "!authenticationSucceeded" style="color: green;">You have been Authenticated Successfully by Identity Server, Call API</h4>
  <button (click)="callApiEndpoint()" [disabled] = "!authenticationSucceeded">Call A Protected Endpoint on Server API</button>

  <br>
  <br>
  <hr/>

  <h4 [hidden] = "!showApiResults">Results from API => <i style="color: red;">{{resultsFromApi}}</i></h4>
</div>