<h1>Home Page</h1>

<button onclick="signIn()">Sign-in</button>

<br />

<div>
    <button onclick="callServerApi()"> Call Server API with Access Token Received From Identity Server</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.10.1/oidc-client.min.js"></script>
@*<script src="~/oidc-client.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="~/main.js"></script>